$primary: #f4994b;

@import '~bootstrap/scss/bootstrap';
.main {
  padding-top: 20px;
}
#commands, #activity {
  margin: auto;  
}

#dashboard {
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .command-div {
    width: 50%;
  }
  
}


h3, h2, h1 {
  font-family:'Righteous', sans-serif;
  text-transform: uppercase;
}

p, li {
  font-family: 'Roboto', sans-serif;
}

.servers {
  margin: auto;
  width: 800px;
  ul {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 450px) {
  #dashboard .command-div {
      width: 100%;
  }
  #dashboard {
    padding: 10px 0px;
    .command-div, .float-left {
      padding: 30px 0px;
    }
  } 
}

.home {
  margin: auto;
  text-align: center;
  width: 60%;
  p {
    width: 90%;
    margin: auto;
    text-align: left;
  }
  img {
    margin: auto;
    height: 300px;
  }
}

.nav-link {
  color: #000000 !important;
}

form {
  width: 50%;
  margin: auto;
  text-align: center;
}
.show-commands {
  padding-top: 100px;
  flex-wrap: wrap;
  display: flex;
  h3 {
    width: 30%;
  }
  div {
    width: 60%;
  }
  align-items: center;
}
@media only screen and (max-width: 450px) {
  .home {
    width: 98%;
  }
  .show-commands {
    h3, div {
      width: 100%;
      padding: 8px 0px;
    }
  }
}